@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  /* ----header------ */
  .header-logo {
    margin-right: 92px;
  }

  .auth-nav {
    display: flex;
    margin-left: auto;
    padding: 0;
  }

  .auth-nav .contact-list {
    display: flex;
    align-items: center;
  }

  .auth-nav .item:not(:first-child) {
    margin-left: 50px;
  }

  .header-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  /* ---------------Hero------------------- */

  .hero {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/hero-bg/hero-desk.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../image/hero-bg/hero-desk-2x@2x.jpg);
    }
  }

  .title-hero {
    font-size: 44px;
    line-height: calc(60 / 44);
  }

  /* ---------------about details ----------------------*/

  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .about-details {
    background: var(--color-details);
    padding: 94px 0;
  }

  .details-list {
    display: flex;
  }

  .list-title {
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--color-text);

    margin-bottom: 10px;
  }

  .description-details {
    line-height: calc(24 / 14);
    color: var(--color-mailto-tel-details);
  }

  /* ------spesial-icons------- */

  .logo-icons {
    background-color: var(--color-section-team);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
  .details-list > .item {
    width: calc((100%-24px) / 4);
  }

  .special-icon {
    margin-left: auto;
    margin-right: auto;
  }

  /* --------------------Employment------------------- */

  .employment {
    background: var(--color-background-title);
    padding: 94px 0;
  }

  .title-about {
    font-size: 36px;
    line-height: calc(42 / 36);
    color: var(--color-text);
    text-align: center;
    margin-bottom: 50px;
  }

  .list-employment {
    display: flex;
    padding-left: 0;
  }

  .list-employment > .item:not(:last-child) {
    margin-right: 30px;
  }

  .list-employment > .item {
    width: 370px;
  }

  .list-employment .item {
    position: relative;
  }

  .description-employment {
    width: 360px;
    height: 70px;
    background-color: rgba(47, 48, 58, 80%);
    position: absolute;
    bottom: 0;
  }

  .employment-text {
    padding-top: 27px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-title-hero);
  }

  /* ------------------------Team---------------------- */

  .about-team {
    padding: 94px 0;
  }
  .team-list {
    display: flex;
    padding-left: 0px;
    justify-content: space-between;
    margin: 0px;
  }

  .team-list .item {
    width: 270px;
  }

  .team-item:not(:first-child) {
    padding: 0px;
    margin-left: 24px;
  }

  /* --------------------client--------------------- */

  .clients {
    padding: 94px 0;
  }

  .client-list {
    display: flex;
    padding: 0;
  }

  .client-title {
    margin-bottom: 50px;
  }

  .client-link {
    width: 170px;
  }

  .client-item:not(:last-child) {
    margin-right: 24px;
  }

  /* ------------Footer-------------- */

  .footer {
    padding: 60px 0;
  }

  .footer .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .footer-logo,
  .mail {
    display: block;
  }

  .adress-contact-list {
    display: block;
  }

  .title-icons {
    text-align: left;
  }

  .footer-icons {
    margin-left: 70px;
  }

  .footer-icons .social-icons {
    display: flex;
  }

  form {
    margin-left: auto;
  }

  .input-email {
    width: 358px;
  }

  .buttons .input-email {
    margin-right: 12px;
  }

  .buttons {
    display: flex;
  }

  .modal {
    width: 100%;
    max-width: 528px;
    height: 581px;
  }

  .checkbox-agree {
    font-size: 14px;
    line-height: calc(24 / 14);
  }

  .check-text {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}
